body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

div {
  padding: 20px;
  text-align: center;
}

p {
  font-size: 24px;
  font-weight: bold;
}

.dropdown-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-label {
  font-size: 18px;
  margin-bottom: 10px;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.0);
}

.navbar ul {
  display: flex; 
  list-style-type: none;
  margin: 20px;
  margin-top: 50px;
  padding: 20px;
  justify-content: center; 
  width: 100%;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  display: block;
  padding: 20px 50px; 
  color: rgb(209, 204, 204);
  text-align: right;
  text-decoration: none;
  background-color: #ca6e9c; 
  border-radius: 8px; 
}

.navbar ul li a:hover {
  background-color: #5fadd0;
  color: black;
}
