* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.logo img {
  width: 50px;
}

.navbar {
  flex-grow: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background-color: #ca6e9c;
  color: black;
  border-radius: 5px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.content {
  max-width: 50%;
  margin-left: 100px;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content p {
  font-size: 24px;
  margin-bottom: 40px;
}

.button {
  background-color: #e66498;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #5fadd0;
}
.bgimg{
  margin-right: 70px;
}